.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.addExpense {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}
